.radio_ck {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  background: url(../images/radiobox.png) 0px 0px;
}
.radio_ck.style1 {
  background-position: -44px -2px;
}
.radio_checked .radio_ck.style1 {
  background-position: -130px -1px;
}
.radio_ck.style2 {
  background-position: -164px -2px;
}
.radio_checked .radio_ck.style2 {
  background-position: -87px -2px;
}
