/*media UI start*/
.media {
  background: #FFF;
  padding: 14px;
  margin-bottom: 30px;
}
.media-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0px 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.media-news-list li {
  padding: 6px 0px 6px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.25s ease 0s;
  white-space: nowrap;
  width: 90%;
  position: relative;
}
.media-news-list li:hover {
  margin-left: 5px;
}
.media-pics-list {
  display: inline-block;
}
.media-pics-list li {
  float: left;
  display: inline;
  border: 1px solid #DDD;
  margin: 8px 12px;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear, box-shadow 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear, box-shadow 0.3s linear;
}
.media-pics-list li:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  box-shadow: 0 0 9px #dddddd;
}
.media-dl {
  margin-bottom: 20px;
  clear: both;
  display: table;
  content: " ";
}
.media-dl dt {
  float: left;
  margin-right: 15px;
  min-height: 120px;
  line-height: 120px;
  border: 1px solid #EEE;
  border-radius: 3px;
}
.media-dl dt img {
  width: 180px;
  padding: 4px;
  vertical-align: middle;
}
.media-dl dd {
  font-size: 14px;
  line-height: 1.7;
}
.media-dl dd h3 {
  margin: 0px 0px 5px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
  border: none;
}
.media-showMore {
  float: right;
  text-indent: 0px;
}
.media-text {
  margin-bottom: 5px;
  text-indent: 2em;
  text-align: justify;
  display: block;
}
.waterfall {
  box-sizing: border-box;
}
.waterfall .box-shadow {
  margin: 15px;
  background: #ffffff;
}
.waterfall li .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #108BDD;
  text-align: center;
  margin: 15px auto;
}
.waterfall li .yicon {
  font-size: 42px;
  color: #FFF;
  line-height: 60px;
}
.waterfall-h3 {
  padding: 0 0 0 22px;
  font-size: 24px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  background: #F8F8F8;
  margin: 0;
}
.waterfall-text p {
  padding: 0 15px;
}
.waterfall-pic {
  padding: 15px;
}
.waterfall-pic img {
  width: 100%;
  border: 1px solid #EEE;
  padding: 4px;
  box-sizing: border-box;
}
/*media UI end*/
