@charset "UTF-8";
/*base*/
/**************mixins*********************/
.clearfix,
.wrap,
.wrap-fluid,
.row,
.pagination,
.pager,
.form-horizontal .form-group,
.modal-footer {
  *zoom: 1;
}
.clearfix:after,
.wrap:after,
.wrap-fluid:after,
.row:after,
.pagination:after,
.pager:after,
.form-horizontal .form-group:after,
.modal-footer:after {
  clear: both;
  content: "";
  display: table;
}
.visuallyhidden {
  position: absolute;
  width: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*透明*/
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  /* Required for IE8 */
  -o-text-overflow: ellipsis;
  /* Required for Opera */
  white-space: nowrap;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear 1s linear;
  -moz-transition: opacity 0.15s linear 1s linear;
  -o-transition: opacity 0.15s linear 1s linear;
  -ms-transition: opacity 0.15s linear 1s linear;
  transition: opacity 0.15s linear 1s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/***************************************   Border-radius  *********************************/
.light-rounded {
  border-radius: 3px;
}
.heavy-rounded {
  border-radius: 8px;
}
.full-rounded {
  border-radius: 50%;
}
.barrel-rounded {
  border-radius: 0.33333333px;
}
/****************************************   Box shadow  ********************************/
/*阴影案例*/
.drop-shadow.top {
  box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.4);
}
.drop-shadow.right {
  box-shadow: 4px 0 2px -2px rgba(0, 0, 0, 0.4);
}
.drop-shadow.bottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
.drop-shadow.left {
  box-shadow: -4px 0 2px -2px rgba(0, 0, 0, 0.4);
}
.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
}
.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.25);
}
.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255, 255, 255, 0.5);
}
.emphasize-border {
  box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.5);
}
.embossed-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}
.embossed-heavy {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}
.box-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7) inset;
}
/*Body的阴影*/
.box-shadow-inset:before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  content: "";
  height: 10px;
  left: 0;
  position: fixed;
  top: -10px;
  width: 100%;
  z-index: 100;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*****************************  reset.less  *****************/
body,
dl,
dt,
dd,
img,
ul,
ol,
li,
p,
form,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: none;
}
i,
cite,
em,
address,
dfn {
  font-style: normal;
}
ul,
li {
  list-style: none;
}
a,
button {
  cursor: pointer;
}
a:active,
input:focus,
textarea:focus,
a:focus {
  outline: 0;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  color: #333;
  background-color: transparent;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1d6fa5;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1,
.h1 {
  font-size: 24px;
}
h2,
.h2 {
  font-size: 22px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
  color: #333;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
  color: #333;
}
/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color: #333;
}
/* WebKit browsers */
input::-webkit-input-placeholder {
  color: #333;
}
.hr {
  border-top: 1px solid #ddd;
  height: 0;
}
.hr-vertical {
  border-right: 1px solid #ddd;
  width: 0;
}
*::-moz-selection {
  background: none repeat scroll 0 0 #ED1A95;
  color: #fff;
}
/*******************Sophie's icons*********************/
@font-face {
  font-family: "sophiefont";
  src: url('../fonts/sicon/iconfont.eot');
  /* IE9*/
  src: url('../fonts/sicon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/sicon/iconfont.woff') format('woff'), /* chrome��firefox */ url('../fonts/sicon/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../fonts/sicon/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.sicon,
[class^="sicon-"]:before,
[class*=" sicon-"]:before {
  font-family: "sophiefont" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  -webkit-text-stroke-width: 0.2px;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sicon-yunshangchuan:before {
  content: "\e641";
}
.sicon-shangchuan:before {
  content: "\e642";
}
.sicon-bingtu:before {
  content: "\e643";
}
.sicon-shuzhuangtu:before {
  content: "\e644";
}
.sicon-quxiantu:before {
  content: "\e645";
}
.sicon-zhexiantu:before {
  content: "\e646";
}
.sicon-shangchuansucai:before {
  content: "\e647";
}
.sicon-paixu:before {
  content: "\e648";
}
.sicon-xiangzuo:before {
  content: "\e649";
}
.sicon-xiangshang:before {
  content: "\e64a";
}
.sicon-xiangyou:before {
  content: "\e64b";
}
.sicon-jian:before {
  content: "\e64c";
}
.sicon-jia:before {
  content: "\e64d";
}
.sicon-cuowu:before {
  content: "\e64e";
}
.sicon-zhengque:before {
  content: "\e64f";
}
.sicon-fujian:before {
  content: "\e650";
}
.sicon-shuaxin:before {
  content: "\e651";
}
.sicon-xiazai:before {
  content: "\e652";
}
.sicon-guolv:before {
  content: "\e653";
}
.sicon-xiangyou1:before {
  content: "\e654";
}
.sicon-xiangzuo1:before {
  content: "\e655";
}
.sicon-xiangshang1:before {
  content: "\e656";
}
.sicon-xiangxia:before {
  content: "\e657";
}
.sicon-jia1:before {
  content: "\e658";
}
.sicon-jian1:before {
  content: "\e659";
}
.sicon-gengxin:before {
  content: "\e65a";
}
.sicon-tuichu:before {
  content: "\e65b";
}
.sicon-jinru:before {
  content: "\e65c";
}
.sicon-banfen:before {
  content: "\e65d";
}
.sicon-zuoshang:before {
  content: "\e65e";
}
.sicon-xiangshang2:before {
  content: "\e65f";
}
.sicon-youshang:before {
  content: "\e660";
}
.sicon-zuoxia:before {
  content: "\e661";
}
.sicon-xiangxia1:before {
  content: "\e662";
}
.sicon-youxia:before {
  content: "\e663";
}
.sicon-xiangzuo2:before {
  content: "\e664";
}
.sicon-xiangyou2:before {
  content: "\e665";
}
.sicon-tisheng:before {
  content: "\e666";
}
.sicon-xiajiang:before {
  content: "\e667";
}
.sicon-qq:before {
  content: "\e668";
}
.sicon-douban:before {
  content: "\e669";
}
.sicon-anzhuo:before {
  content: "\e66a";
}
.sicon-github:before {
  content: "\e66b";
}
.sicon-weiruan:before {
  content: "\e66c";
}
.sicon-pingguo:before {
  content: "\e66d";
}
.sicon-rili:before {
  content: "\e60d";
}
.sicon-check:before {
  content: "\e670";
}
.sicon-tianjia:before {
  content: "\e66f";
}
.sicon-appreciate:before {
  content: "\e60f";
}
.sicon-check1:before {
  content: "\e610";
}
.sicon-close:before {
  content: "\e611";
}
.sicon-favorfill:before {
  content: "\e600";
}
.sicon-favor:before {
  content: "\e601";
}
.sicon-locationfill:before {
  content: "\e612";
}
.sicon-roundcheckfill:before {
  content: "\e602";
}
.sicon-roundcheck:before {
  content: "\e603";
}
.sicon-roundclosefill:before {
  content: "\e604";
}
.sicon-roundclose:before {
  content: "\e605";
}
.sicon-roundrightfill:before {
  content: "\e606";
}
.sicon-roundright:before {
  content: "\e607";
}
.sicon-search:before {
  content: "\e613";
}
.sicon-unfold:before {
  content: "\e614";
}
.sicon-warnfill:before {
  content: "\e615";
}
.sicon-warn:before {
  content: "\e616";
}
.sicon-commentfill:before {
  content: "\e608";
}
.sicon-comment:before {
  content: "\e609";
}
.sicon-likefill:before {
  content: "\e617";
}
.sicon-like:before {
  content: "\e618";
}
.sicon-notificationfill:before {
  content: "\e619";
}
.sicon-notification:before {
  content: "\e61a";
}
.sicon-order:before {
  content: "\e61b";
}
.sicon-back:before {
  content: "\e61c";
}
.sicon-list:before {
  content: "\e61d";
}
.sicon-more:before {
  content: "\e61e";
}
.sicon-myfill:before {
  content: "\e60a";
}
.sicon-my:before {
  content: "\e60b";
}
.sicon-settings:before {
  content: "\e60c";
}
.sicon-dibiaoxiantiao:before {
  content: "\e60e";
}
.sicon-questionfill:before {
  content: "\e61f";
}
.sicon-question:before {
  content: "\e620";
}
.sicon-filter:before {
  content: "\e621";
}
.sicon-top:before {
  content: "\e622";
}
.sicon-pulldown:before {
  content: "\e623";
}
.sicon-pullup:before {
  content: "\e624";
}
.sicon-right:before {
  content: "\e625";
}
.sicon-deletefill:before {
  content: "\e626";
}
.sicon-qrcode:before {
  content: "\e627";
}
.sicon-delete:before {
  content: "\e628";
}
.sicon-profile:before {
  content: "\e629";
}
.sicon-message:before {
  content: "\e62a";
}
.sicon-lock:before {
  content: "\e62b";
}
.sicon-unlock:before {
  content: "\e62c";
}
.sicon-weibo:before {
  content: "\e62d";
}
.sicon-squarecheckfill:before {
  content: "\e62e";
}
.sicon-square:before {
  content: "\e62f";
}
.sicon-squarecheck:before {
  content: "\e630";
}
.sicon-roundaddfill:before {
  content: "\e631";
}
.sicon-roundadd:before {
  content: "\e632";
}
.sicon-add:before {
  content: "\e633";
}
.sicon-fold:before {
  content: "\e634";
}
.sicon-infofill:before {
  content: "\e635";
}
.sicon-info:before {
  content: "\e636";
}
.sicon-forwardfill:before {
  content: "\e637";
}
.sicon-forward:before {
  content: "\e638";
}
.sicon-check2:before {
  content: "\e671";
}
.sicon-share:before {
  content: "\e639";
}
.sicon-sort:before {
  content: "\e63a";
}
.sicon-minus:before {
  content: "\e672";
}
.sicon-down:before {
  content: "\e63b";
}
.sicon-pullleft:before {
  content: "\e63c";
}
.sicon-pullright:before {
  content: "\e63d";
}
.sicon-check3:before {
  content: "\e673";
}
.sicon-minus1:before {
  content: "\e674";
}
.sicon-check4:before {
  content: "\e675";
}
.sicon-refresharrow:before {
  content: "\e63e";
}
.sicon-minus2:before {
  content: "\e676";
}
.sicon-markfill:before {
  content: "\e63f";
}
.sicon-mark:before {
  content: "\e640";
}
/*Layout*/
/*
 Grid system
 --------------------------------------------------
 Author:Sophie
 Date:2015-01-11*/
.wrap {
  margin-right: auto;
  margin-left: auto;
  width: 970px;
}
@media (min-width: 1200px) {
  .wrap {
    width: 1170px;
  }
}
.wrap-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
 .col-width-1,  .col-width-2,  .col-width-3,  .col-width-4,  .col-width-5,  .col-width-6,  .col-width-7,  .col-width-8,  .col-width-9,  .col-width-10,  .col-width-11,  .col-width-12 {
  position: relative;
  min-height: 1px;
}
.col-width-1, .col-width-2, .col-width-3, .col-width-4, .col-width-5, .col-width-6, .col-width-7, .col-width-8, .col-width-9, .col-width-10, .col-width-11, .col-width-12 {
  float: left;
}
.col-width-12 {
  width: 100%;
}
.col-width-11 {
  width: 91.66666667%;
}
.col-width-10 {
  width: 83.33333333%;
}
.col-width-9 {
  width: 75%;
}
.col-width-8 {
  width: 66.66666667%;
}
.col-width-7 {
  width: 58.33333333%;
}
.col-width-6 {
  width: 50%;
}
.col-width-5 {
  width: 41.66666667%;
}
.col-width-4 {
  width: 33.33333333%;
}
.col-width-3 {
  width: 25%;
}
.col-width-2 {
  width: 16.66666667%;
}
.col-width-1 {
  width: 8.33333333%;
}
.col-width-pull-12 {
  right: 100%;
}
.col-width-pull-11 {
  right: 91.66666667%;
}
.col-width-pull-10 {
  right: 83.33333333%;
}
.col-width-pull-9 {
  right: 75%;
}
.col-width-pull-8 {
  right: 66.66666667%;
}
.col-width-pull-7 {
  right: 58.33333333%;
}
.col-width-pull-6 {
  right: 50%;
}
.col-width-pull-5 {
  right: 41.66666667%;
}
.col-width-pull-4 {
  right: 33.33333333%;
}
.col-width-pull-3 {
  right: 25%;
}
.col-width-pull-2 {
  right: 16.66666667%;
}
.col-width-pull-1 {
  right: 8.33333333%;
}
.col-width-pull-0 {
  right: auto;
}
.col-width-push-12 {
  left: 100%;
}
.col-width-push-11 {
  left: 91.66666667%;
}
.col-width-push-10 {
  left: 83.33333333%;
}
.col-width-push-9 {
  left: 75%;
}
.col-width-push-8 {
  left: 66.66666667%;
}
.col-width-push-7 {
  left: 58.33333333%;
}
.col-width-push-6 {
  left: 50%;
}
.col-width-push-5 {
  left: 41.66666667%;
}
.col-width-push-4 {
  left: 33.33333333%;
}
.col-width-push-3 {
  left: 25%;
}
.col-width-push-2 {
  left: 16.66666667%;
}
.col-width-push-1 {
  left: 8.33333333%;
}
.col-width-push-0 {
  left: auto;
}
.col-width-offset-12 {
  margin-left: 100%;
}
.col-width-offset-11 {
  margin-left: 91.66666667%;
}
.col-width-offset-10 {
  margin-left: 83.33333333%;
}
.col-width-offset-9 {
  margin-left: 75%;
}
.col-width-offset-8 {
  margin-left: 66.66666667%;
}
.col-width-offset-7 {
  margin-left: 58.33333333%;
}
.col-width-offset-6 {
  margin-left: 50%;
}
.col-width-offset-5 {
  margin-left: 41.66666667%;
}
.col-width-offset-4 {
  margin-left: 33.33333333%;
}
.col-width-offset-3 {
  margin-left: 25%;
}
.col-width-offset-2 {
  margin-left: 16.66666667%;
}
.col-width-offset-1 {
  margin-left: 8.33333333%;
}
.col-width-offset-0 {
  margin-left: 0%;
}
.col-onlywidth-12 {
  width: 100%;
}
.col-onlywidth-11 {
  width: 91.66666667%;
}
.col-onlywidth-10 {
  width: 83.33333333%;
}
.col-onlywidth-9 {
  width: 75%;
}
.col-onlywidth-8 {
  width: 66.66666667%;
}
.col-onlywidth-7 {
  width: 58.33333333%;
}
.col-onlywidth-6 {
  width: 50%;
}
.col-onlywidth-5 {
  width: 41.66666667%;
}
.col-onlywidth-4 {
  width: 33.33333333%;
}
.col-onlywidth-3 {
  width: 25%;
}
.col-onlywidth-2 {
  width: 16.66666667%;
}
.col-onlywidth-1 {
  width: 8.33333333%;
}
.flex-left {
  float: left;
  width: 100%;
}
.flex-left .inner {
  margin-right: 300px;
}
.fix-right {
  float: right;
  margin-left: -300px;
  position: relative;
  width: 300px;
}
.flex-right {
  float: right;
  width: 100%;
}
.flex-right .inner {
  margin-left: 300px;
}
.fix-left {
  float: left;
  margin-right: -300px;
  position: relative;
  width: 300px;
}
/*
 *@ Name:       水平居中
 *@ Usage:      支持图片，单行或多行文字，以及图文混排
 */
.horizontal-center {
  margin: 0 auto;
}
/*
 *@ Name:       未知高度垂直居中组件
 *@ Usage:      支持图片，单行或多行文字，以及图文混排
 */
/* 去除 inline-block 的空隙 */
.vertical-middle {
  font-size: 0;
  *word-spacing: -1px;
  /* IE6、7 */
  height: 100%;
  /* 继承父级高度 */
}
/* 修复 Safari 5- inline-block 的空隙 */
@media (-webkit-min-device-pixel-ratio: 0) {
  .vertical-middle {
    letter-spacing: -5px;
  }
}
/* 使用空标签生成一个高度100%的参照元素 */
.vertical-middle .vertical-middle-hack {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.vertical-middle .vertical-middle-body {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  vertical-align: middle;
  /* 保证文字垂直居中 */
  padding: 0 !important;
  /* 防止设置边距导致居中失效 */
  margin: 0 !important;
  width: 100%;
  /* 保证连续字符也能居中 */
  white-space: normal;
  /* 保证连续字符换行 */
  word-wrap: break-word;
}
.vertical-middle .vertical-middle-img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  text-align: center;
  /* 图片默认水平居中 */
  vertical-align: middle;
  padding: 0 !important;
  /* 防止设置边距导致居中失效 */
  margin: 0 !important;
  font-size: 0;
}
.vertical-middle img {
  vertical-align: middle;
  /* 去除现代浏览器 img 底部空隙 */
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* Hide / Show classes */
.hide {
  display: none;
}
.show {
  display: block;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out 1s linear;
  -moz-transition: all 0.2s ease-in-out 1s linear;
  -o-transition: all 0.2s ease-in-out 1s linear;
  -ms-transition: all 0.2s ease-in-out 1s linear;
  transition: all 0.2s ease-in-out 1s linear;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
/*table UI start*/
.table {
  width: 100%;
  border: 1px #ddd solid;
  background: #fff;
  table-layout: fixed;
}
.table th,
.table td {
  padding: 10px;
  font-size: 16px;
  line-height: 1.6;
  vertical-align: middle;
  border-bottom: 1px #ddd solid;
  text-align: left;
}
.table thead th {
  background: #F5F5F5;
}
.table tbody tr:last-child td {
  border-bottom: 0;
}
.table.table-striped tbody tr:nth-child(even) {
  background: #F9F9F9;
}
.table.table-border td,
.table.table-border th {
  border: 1px #ddd solid;
}
.table.table-hovered tbody tr:hover {
  background-color: #fdb140;
}
/*table UI end*/
.radio_ck {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  background: url(../images/radiobox.png) 32px -10px;
}
.radio_checked .radio_ck {
  background-position: -7px -10px;
}
/********************pagination style***************************/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
.pagination li {
  display: inline;
}
.pagination li a {
  position: relative;
  float: left;
  color: #666;
  padding: 6px 14px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 12px;
}
.pagination li a:hover,
.pagination li a:focus {
  background-color: #ED1A95;
  border-color: #ED1A95;
  color: #fff;
}
.pagination li:last-child {
  margin-left: 0;
}
.pagination .active > a,
.pagination .active > a:hover,
.pagination .active > a:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #ED1A95;
  border-color: #ED1A95;
}
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-sm > li a {
  padding: 5px 12px;
  font-size: 12px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li > a {
  display: inline-block;
  padding: 5px 14px;
  color: #666;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ED1A95;
  border-color: #ED1A95;
}
.pager .next > a {
  float: right;
}
.pager .previous > a {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown-toggle,
.dropdown .dropdown-menu {
  padding: 5px 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}
.dropdown .dropdown-toggle:hover,
.dropdown .dropdown-menu:hover {
  cursor: pointer;
}
.dropdown .dropdown-toggle i.caret {
  float: right;
  margin: 5px 0px;
  font-size: 20px;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
}
.dropdown .dropdown-menu li {
  line-height: 1.6;
  padding: 5px 0;
}
.dropdown .dropdown-menu li:hover {
  background-color: #ED1A95;
}
.dropdown i.menu-item {
  margin: 5px 10px;
  font-size: 20px;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
/*label UI start*/
.label {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  font-weight: normal;
  padding: 4px 16px;
  vertical-align: middle;
  margin: 5px;
}
a.label:hover,
a.label:focus {
  text-decoration: none;
  cursor: pointer;
}
.label-same-width {
  width: 105px;
  height: 30px;
  line-height: 30px;
  padding: 0 !important;
}
.label-sm {
  padding: 2px 8px;
  font-size: 12px;
}
.label-lg {
  padding: 4px 16px;
  font-size: 16px;
}
.label-default-success {
  color: #fff;
  background-color: #5bb85d;
  border: 1px solid #5bb85d;
}
.label-default-success a {
  color: #fff;
}
.label-default-success a:hover,
.label-default-success a:focus {
  color: #e6e6e6;
}
.label-default-info {
  color: #fff;
  background-color: #fdb140;
  border: 1px solid #fdb140;
}
.label-default-info a {
  color: #fff;
}
.label-default-info a:hover,
.label-default-info a:focus {
  color: #e6e6e6;
}
.label-default-finish {
  color: #fff;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.label-default-finish a {
  color: #fff;
}
.label-default-finish a:hover,
.label-default-finish a:focus {
  color: #e6e6e6;
}
.label-border-success {
  color: #5bb85d;
  background-color: #fff;
  border: 1px solid #5bb85d;
}
.label-border-success a {
  color: #5bb85d;
}
.label-border-success a:hover,
.label-border-success a:focus {
  color: #449c46;
}
.label-border-info {
  color: #fdb140;
  background-color: #fff;
  border: 1px solid #fdb140;
}
.label-border-info a {
  color: #fdb140;
}
.label-border-info a:hover,
.label-border-info a:focus {
  color: #fc9c0e;
}
.label-border-finish {
  color: #ccc;
  background-color: #fff;
  border: 1px solid #ccc;
}
.label-border-finish a {
  color: #ccc;
}
.label-border-finish a:hover,
.label-border-finish a:focus {
  color: #b3b3b3;
}
/*label UI end*/
/*--------------------------------------------------Base styles --------------------------------------------------*/
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0px 6px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 6px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 6px 5px rgba(0, 0, 0, 0.25);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  filter: alpha(opacity=65);
  /* old IE */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65, FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0, FinishY=16);
  /*supported by current IE*/
  -moz-opacity: 0.65;
  /* Moz + FF */
  opacity: 0.65;
  /* 支持新版瀏覽器 */
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge,
.btn-default .badge-top-left {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #ED1A95;
  border-color: #ED1A95;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #c50f79;
  border-color: #bb0f73;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ED1A95;
  border-color: #ED1A95;
}
.btn-primary .badge,
.btn-primary .badge-top-left {
  color: #ED1A95;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5bb85d;
  border-color: #5bb85d;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449c46;
  border-color: #419542;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5bb85d;
  border-color: #5bb85d;
}
.btn-success .badge,
.btn-success .badge-top-left {
  color: #5bb85d;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #38cfba;
  border-color: #38cfba;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #29ab99;
  border-color: #27a391;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #38cfba;
  border-color: #38cfba;
}
.btn-info .badge,
.btn-info .badge-top-left {
  color: #38cfba;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #fdb140;
  border-color: #fdb140;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #fc9c0e;
  border-color: #fc9803;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #fdb140;
  border-color: #fdb140;
}
.btn-warning .badge,
.btn-warning .badge-top-left {
  color: #fdb140;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #EA041F;
  border-color: #EA041F;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #b80318;
  border-color: #ae0317;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #EA041F;
  border-color: #EA041F;
}
.btn-danger .badge,
.btn-danger .badge-top-left {
  color: #EA041F;
  background-color: #fff;
}
.btn-link {
  color: #3498db;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #1d6fa5;
  text-decoration: none;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #ccc;
  text-decoration: none;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-group input[type="radio"],
.btn-group input[type="checkbox"] {
  display: none;
}
.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 30px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #DFF0D8;
  border-color: #5bb85d;
  color: #3C765B;
}
.alert-success hr {
  border-top-color: #4bae4e;
}
.alert-success .alert-link {
  color: #2b5441;
}
.alert-warning {
  background-color: #F2DEDE;
  border-color: #EA041F;
  color: #960415;
}
.alert-warning hr {
  border-top-color: #d1041c;
}
.alert-warning .alert-link {
  color: #64030e;
}
.badge,
.badge-top-left {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #666;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}
a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #ED1A95;
  background-color: #fff;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
.badge-top-left {
  position: relative;
  top: -8px;
  left: -6px;
}
/*********************************form***************************/
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #ddd;
  outline: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #e0e0e0;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.form-group-sm .form-control {
  height: 30px;
  line-height: 30px;
}
textarea.form-group-sm .form-control,
select[multiple].form-group-sm .form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.form-group-lg .form-control {
  height: 46px;
  line-height: 46px;
}
textarea.form-group-lg .form-control,
select[multiple].form-group-lg .form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.input-success .help-block,
.input-success .control-label,
.input-success .radio,
.input-success .checkbox,
.input-success .radio-inline,
.input-success .checkbox-inline,
.input-success.radio label,
.input-success.checkbox label,
.input-success.radio-inline label,
.input-success.checkbox-inline label {
  color: #5bb85d;
}
.input-success .form-control {
  border-color: #5bb85d;
}
.input-success .form-control:focus {
  border-color: #449c46;
}
.input-success .input-group-addon {
  color: #5bb85d;
  border-color: #5bb85d;
  background-color: #ddd;
}
.input-success .form-control-feedback {
  color: #5bb85d;
}
.input-warning .help-block,
.input-warning .control-label,
.input-warning .radio,
.input-warning .checkbox,
.input-warning .radio-inline,
.input-warning .checkbox-inline,
.input-warning.radio label,
.input-warning.checkbox label,
.input-warning.radio-inline label,
.input-warning.checkbox-inline label {
  color: #ffa319;
}
.input-warning .form-control {
  border-color: #ffa319;
}
.input-warning .form-control:focus {
  border-color: #e58900;
}
.input-warning .input-group-addon {
  color: #ffa319;
  border-color: #ffa319;
  background-color: #ddd;
}
.input-warning .form-control-feedback {
  color: #ffa319;
}
.input-error .help-block,
.input-error .control-label,
.input-error .radio,
.input-error .checkbox,
.input-error .radio-inline,
.input-error .checkbox-inline,
.input-error.radio label,
.input-error.checkbox label,
.input-error.radio-inline label,
.input-error.checkbox-inline label {
  color: #EA041F;
}
.input-error .form-control {
  border-color: #EA041F;
}
.input-error .form-control:focus {
  border-color: #b80318;
}
.input-error .input-group-addon {
  color: #EA041F;
  border-color: #EA041F;
  background-color: #ddd;
}
.input-error .form-control-feedback {
  color: #EA041F;
}
.input-feedback label ~ .form-control-feedback {
  top: 25px;
}
.input-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a6a6a6;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 29px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 9px;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.333333px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}
.nav {
  background-color: #2577e3;
  height: 40px;
  font-size: 16px;
}
.nav ul.top_nav {
  position: relative;
}
.nav li {
  float: left;
}
.nav li a.nav_has,
.nav li a.nav_non {
  display: block;
  height: 40px;
  line-height: 37px;
  padding: 0 7px;
  color: #fff;
  border-top: 3px solid #2577e3;
}
.nav li a.nav_has:hover,
.nav li a.nav_non:hover {
  color: #2577e3;
  background-color: #fff;
  border-top: 3px solid #ffa319;
  text-decoration: none;
}
.nav li a.nav_has.selected,
.nav li a.nav_non.selected {
  border-top: 3px solid #ffa319;
}
.nav li a.nav_has {
  padding-left: 14px;
}
.nav li.divider {
  background-color: #1d67dd;
  height: 16px;
  margin: 13px 1px 0;
  padding-left: 0;
  width: 1px;
}
/*subnav*/
.nav li .subnav_wrap {
  display: none;
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
}
.nav li .subnav_wrap a {
  font-size: 12px;
  color: #333;
}
.nav li:hover .subnav_wrap {
  display: block;
}
.sub_nav {
  height: 37px;
  line-height: 37px;
  border: 1px solid #bbb;
  border-top: none;
}
.sub_nav li {
  margin: 0 5px;
}
.sub_nav li a:hover {
  color: #2577e3;
  text-decoration: none;
}
.searchbox {
  background-color: #3983e5;
  border: 1px solid #2f79db;
  border-radius: 6px;
  height: 286px;
  padding: 6px;
}
.shu_tabs {
  background-color: #ecf4fc;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 0 2px #d1deee inset;
  height: 285px;
  position: absolute;
  width: 110px;
}
.shu_tabs_content {
  background-color: #fff;
  border-left: 1px solid #aecef6;
  border-radius: 0 5px 5px 0;
  height: 260px;
  margin-left: 109px;
  padding: 20px 20px 5px;
}
.shu_tabs li {
  font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #699FE5;
}
.shu_tabs a.active {
  background-color: #fff;
  display: block;
  box-shadow: -2px -4px 4px -4px #b7c9e0, -2px 4px 4px -4px #b7c9e0;
  color: #06c;
  cursor: default;
  margin-right: -1px;
  position: relative;
}
.tabs {
  background-color: #fff;
  height: 48px;
  position: relative;
  white-space: nowrap;
  border: 1px solid #ddd;
}
.tabs li.tab {
  background-color: #fff;
  display: block;
  float: left;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.tabs li.tab a {
  color: #ED1A95;
  display: block;
  width: 100%;
  height: 100%;
  transition: color 0.28s ease 0s;
  outline: none;
}
.tabs li.tab:hover a,
.tabs li.tab.active a {
  color: #f8c1c3;
  text-decoration: none;
}
.site-nav {
  background: none repeat scroll 0 0 #f5f5f5;
  border-bottom: 1px solid #444;
  z-index: 10000;
  font-size: 12px;
}
.site-nav .site-nav-bd {
  background: none repeat scroll 0 0 #f5f5f5;
  height: 35px;
}
.site-nav-bd .site-nav-bd-r li.menu,
.site-nav-bd .site-nav-bd-l > li.menu {
  float: left;
}
.site-nav-bd .menu .menu-hd {
  height: 35px;
  line-height: 35px;
  padding: 0 6px;
  position: relative;
  z-index: 10002;
}
.site-nav-bd .menu .menu-bd {
  position: relative;
  z-index: 10001;
  display: none;
}
.site-nav-bd .menu .menu-bd .menu-bd-panel {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #eee;
  border-top: none;
  line-height: normal;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.site-nav-bd .menu .menu-list .menu-bd-panel a {
  color: #6c6c6c;
  display: block;
  line-height: 28px;
  padding: 0 5px;
  white-space: nowrap;
}
.site-nav-bd .site-nav-pipe {
  color: #ddd;
  font-style: normal;
  padding: 0 5px;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe {
  float: left;
  height: 35px;
  line-height: 35px;
}
.site-nav-bd .login-info .menu-bd .user-avatar {
  float: left;
  margin-left: 9px;
  margin-right: 10px;
}
.site-nav-bd .login-info .menu-bd .user-avatar img {
  border-radius: 50%;
  display: block;
  height: 80px;
  width: 80px;
}
.site-nav-bd .login-info .menu-bd .menu-bd-panel {
  width: 248px;
}
.site-nav-bd .login-info .menu-bd .user-info {
  height: 80px;
}
.site-nav-bd .login-info .menu-bd .user-info .user-operate {
  text-align: right;
}
.site-nav-bd .login-info .menu-bd .user-privilege-tip {
  margin: 6px;
  text-align: center;
  background-color: #eee;
}
.site-nav-bd .login-info .menu-bd .user-privilege-tip a {
  padding: 5px 0;
  display: block;
}
.site-nav-bd-l .menu:hover .menu-bd,
.site-nav-bd-r .menu:hover .menu-bd {
  display: block;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #F5F5F5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li i {
  padding: 0 5px;
  color: #999;
}
.breadcrumb > .active {
  color: #666;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) 3px 5px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  /* old IE */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0, FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0, FinishY=16);
  /*supported by current IE*/
  -moz-opacity: 0;
  /* Moz + FF */
  opacity: 0;
  /* 支持新版瀏覽器 */
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  /* old IE */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0, FinishY=16);
  /*supported by current IE*/
  -moz-opacity: 0.5;
  /* Moz + FF */
  opacity: 0.5;
  /* 支持新版瀏覽器 */
}
.modal-header {
  padding: 25px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 26.5px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  padding: 25px;
}
.modal-footer {
  padding: 25px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) 3px 5px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  /* old IE */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20, FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0, FinishY=16);
  /*supported by current IE*/
  -moz-opacity: 0.2;
  /* Moz + FF */
  opacity: 0.2;
  /* 支持新版瀏覽器 */
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  /* old IE */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0, FinishY=16);
  /*supported by current IE*/
  -moz-opacity: 0.5;
  /* Moz + FF */
  opacity: 0.5;
  /* 支持新版瀏覽器 */
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 1000;
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  color: #fff;
  min-height: 36px;
  line-height: 1rem;
  opacity: 0;
  display: none;
  position: absolute;
  text-align: center;
  overflow: hidden;
  left: 0;
  top: 0;
  will-change: top, left;
}
.backdrop {
  position: absolute;
  opacity: 0;
  display: none;
  height: 7px;
  width: 14px;
  -webkit-border-radius: 0 0 14px 14px;
  -moz-border-radius: 0 0 14px 14px;
  border-radius: 0 0 14px 14px;
  background-clip: padding-box;
  background-color: #323232;
  z-index: -1;
  -webkit-transform-origin: 50% 10%;
  -moz-transform-origin: 50% 10%;
  -ms-transform-origin: 50% 10%;
  -o-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  will-change: transform, opacity;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear 1s linear;
  -moz-transition: opacity 0.15s linear 1s linear;
  -o-transition: opacity 0.15s linear 1s linear;
  -ms-transition: opacity 0.15s linear 1s linear;
  transition: opacity 0.15s linear 1s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
