/*******************Sophie's icons*********************/
@font-face {
  font-family: "sophiefont";
  src: url('../fonts/sicon/iconfont.eot');
  /* IE9*/
  src: url('../fonts/sicon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/sicon/iconfont.woff') format('woff'), /* chrome��firefox */ url('../fonts/sicon/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../fonts/sicon/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.sicon,
[class^="sicon-"]:before,
[class*=" sicon-"]:before {
  font-family: "sophiefont" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  -webkit-text-stroke-width: 0.2px;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sicon-yunshangchuan:before {
  content: "\e641";
}
.sicon-shangchuan:before {
  content: "\e642";
}
.sicon-bingtu:before {
  content: "\e643";
}
.sicon-shuzhuangtu:before {
  content: "\e644";
}
.sicon-quxiantu:before {
  content: "\e645";
}
.sicon-zhexiantu:before {
  content: "\e646";
}
.sicon-shangchuansucai:before {
  content: "\e647";
}
.sicon-paixu:before {
  content: "\e648";
}
.sicon-xiangzuo:before {
  content: "\e649";
}
.sicon-xiangshang:before {
  content: "\e64a";
}
.sicon-xiangyou:before {
  content: "\e64b";
}
.sicon-jian:before {
  content: "\e64c";
}
.sicon-jia:before {
  content: "\e64d";
}
.sicon-cuowu:before {
  content: "\e64e";
}
.sicon-zhengque:before {
  content: "\e64f";
}
.sicon-fujian:before {
  content: "\e650";
}
.sicon-shuaxin:before {
  content: "\e651";
}
.sicon-xiazai:before {
  content: "\e652";
}
.sicon-guolv:before {
  content: "\e653";
}
.sicon-xiangyou1:before {
  content: "\e654";
}
.sicon-xiangzuo1:before {
  content: "\e655";
}
.sicon-xiangshang1:before {
  content: "\e656";
}
.sicon-xiangxia:before {
  content: "\e657";
}
.sicon-jia1:before {
  content: "\e658";
}
.sicon-jian1:before {
  content: "\e659";
}
.sicon-gengxin:before {
  content: "\e65a";
}
.sicon-tuichu:before {
  content: "\e65b";
}
.sicon-jinru:before {
  content: "\e65c";
}
.sicon-banfen:before {
  content: "\e65d";
}
.sicon-zuoshang:before {
  content: "\e65e";
}
.sicon-xiangshang2:before {
  content: "\e65f";
}
.sicon-youshang:before {
  content: "\e660";
}
.sicon-zuoxia:before {
  content: "\e661";
}
.sicon-xiangxia1:before {
  content: "\e662";
}
.sicon-youxia:before {
  content: "\e663";
}
.sicon-xiangzuo2:before {
  content: "\e664";
}
.sicon-xiangyou2:before {
  content: "\e665";
}
.sicon-tisheng:before {
  content: "\e666";
}
.sicon-xiajiang:before {
  content: "\e667";
}
.sicon-qq:before {
  content: "\e668";
}
.sicon-douban:before {
  content: "\e669";
}
.sicon-anzhuo:before {
  content: "\e66a";
}
.sicon-github:before {
  content: "\e66b";
}
.sicon-weiruan:before {
  content: "\e66c";
}
.sicon-pingguo:before {
  content: "\e66d";
}
.sicon-rili:before {
  content: "\e60d";
}
.sicon-check:before {
  content: "\e670";
}
.sicon-tianjia:before {
  content: "\e66f";
}
.sicon-appreciate:before {
  content: "\e60f";
}
.sicon-check1:before {
  content: "\e610";
}
.sicon-close:before {
  content: "\e611";
}
.sicon-favorfill:before {
  content: "\e600";
}
.sicon-favor:before {
  content: "\e601";
}
.sicon-locationfill:before {
  content: "\e612";
}
.sicon-roundcheckfill:before {
  content: "\e602";
}
.sicon-roundcheck:before {
  content: "\e603";
}
.sicon-roundclosefill:before {
  content: "\e604";
}
.sicon-roundclose:before {
  content: "\e605";
}
.sicon-roundrightfill:before {
  content: "\e606";
}
.sicon-roundright:before {
  content: "\e607";
}
.sicon-search:before {
  content: "\e613";
}
.sicon-unfold:before {
  content: "\e614";
}
.sicon-warnfill:before {
  content: "\e615";
}
.sicon-warn:before {
  content: "\e616";
}
.sicon-commentfill:before {
  content: "\e608";
}
.sicon-comment:before {
  content: "\e609";
}
.sicon-likefill:before {
  content: "\e617";
}
.sicon-like:before {
  content: "\e618";
}
.sicon-notificationfill:before {
  content: "\e619";
}
.sicon-notification:before {
  content: "\e61a";
}
.sicon-order:before {
  content: "\e61b";
}
.sicon-back:before {
  content: "\e61c";
}
.sicon-list:before {
  content: "\e61d";
}
.sicon-more:before {
  content: "\e61e";
}
.sicon-myfill:before {
  content: "\e60a";
}
.sicon-my:before {
  content: "\e60b";
}
.sicon-settings:before {
  content: "\e60c";
}
.sicon-dibiaoxiantiao:before {
  content: "\e60e";
}
.sicon-questionfill:before {
  content: "\e61f";
}
.sicon-question:before {
  content: "\e620";
}
.sicon-filter:before {
  content: "\e621";
}
.sicon-top:before {
  content: "\e622";
}
.sicon-pulldown:before {
  content: "\e623";
}
.sicon-pullup:before {
  content: "\e624";
}
.sicon-right:before {
  content: "\e625";
}
.sicon-deletefill:before {
  content: "\e626";
}
.sicon-qrcode:before {
  content: "\e627";
}
.sicon-delete:before {
  content: "\e628";
}
.sicon-profile:before {
  content: "\e629";
}
.sicon-message:before {
  content: "\e62a";
}
.sicon-lock:before {
  content: "\e62b";
}
.sicon-unlock:before {
  content: "\e62c";
}
.sicon-weibo:before {
  content: "\e62d";
}
.sicon-squarecheckfill:before {
  content: "\e62e";
}
.sicon-square:before {
  content: "\e62f";
}
.sicon-squarecheck:before {
  content: "\e630";
}
.sicon-roundaddfill:before {
  content: "\e631";
}
.sicon-roundadd:before {
  content: "\e632";
}
.sicon-add:before {
  content: "\e633";
}
.sicon-fold:before {
  content: "\e634";
}
.sicon-infofill:before {
  content: "\e635";
}
.sicon-info:before {
  content: "\e636";
}
.sicon-forwardfill:before {
  content: "\e637";
}
.sicon-forward:before {
  content: "\e638";
}
.sicon-check2:before {
  content: "\e671";
}
.sicon-share:before {
  content: "\e639";
}
.sicon-sort:before {
  content: "\e63a";
}
.sicon-minus:before {
  content: "\e672";
}
.sicon-down:before {
  content: "\e63b";
}
.sicon-pullleft:before {
  content: "\e63c";
}
.sicon-pullright:before {
  content: "\e63d";
}
.sicon-check3:before {
  content: "\e673";
}
.sicon-minus1:before {
  content: "\e674";
}
.sicon-check4:before {
  content: "\e675";
}
.sicon-refresharrow:before {
  content: "\e63e";
}
.sicon-minus2:before {
  content: "\e676";
}
.sicon-markfill:before {
  content: "\e63f";
}
.sicon-mark:before {
  content: "\e640";
}
