//Spacing
@spacing-lg:30px;
@spacing-big:20px;
@spacing-md:15px;
@spacing-sm:10px;


//== Grid system   added by Sophie
//
//## Define your custom responsive grid.
//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Small screen / tablet
@screen-sm-min:              768px;
// Medium screen / desktop
@screen-md-min:              992px;
// Large screen / wide desktop
@screen-lg-min:              1200px;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;
// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;

//** For Flex-Fix
@fix-column-width:300px;

//====Button
@padding-base-vertical:8px;
@padding-base-horizontal:12px;
@border-radius-base:5px;
@cursor-disabled:disabled;
//default button
@btn-default-color:@black-dark;
@btn-default-bg:@white;
@btn-default-border:@gray-dark;
//primary button
@btn-primary-color:@white;
@btn-primary-bg:@primaryColor;
@btn-primary-border:@primaryColor;
//success button
@btn-success-color:@white;
@btn-success-bg:@green;
@btn-success-border:@green;
//info button
@btn-info-color:@white;
@btn-info-bg:@cyan;
@btn-info-border:@cyan;
//warning button
@btn-warning-color:@white;
@btn-warning-bg:@orange;
@btn-warning-border:@orange;
//danger button
@btn-danger-color:@white;
@btn-danger-bg:@red;
@btn-danger-border:@red;

@btn-link-disabled-color:@gray-dark;

@padding-small-vertical:5px;
@padding-small-horizontal:10px;

@line-height-small:1.5;
@line-height-large:         1.3333333;


@padding-xs-vertical:1px;
@padding-xs-horizontal:5px;


//============Alert
@alert-padding:10px;
@alert-margin-bottom:10px;
@alert-link-font-weight:@boldFontWeight;

@alert-success-bg:#DFF0D8;
@alert-success-border:@green;
@alert-success-text:#3C765B;

@alert-warning-bg:#F2DEDE;
@alert-warning-border:@red;
@alert-warning-text:@red-dark;


//=====Border
@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;
.border(){
  border:1px solid @borderColor;
}


//=======Form===============
@cursor-disabled:  not-allowed;
@input-bg-disabled:@gray-light04;

//input size
@input-height-base:34px;
@input-height-small:30px;
@input-height-large:46px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;
@input-border-radius-large:@border-radius-large;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;
@input-border-radius-small:@border-radius-small;



//input validation status
@state-success-text:@green;
@state-success-bg:@gray;

@state-warning-text:@orange-light;
@state-warning-bg:@gray;

@state-danger-text:@red;
@state-danger-bg:@gray;


//nav
@nav-background-color:#2577e3;

//modal
@modal-content-bg:                             #fff;
@modal-content-fallback-border-color:          #999;
@modal-content-border-color:                   rgba(0,0,0,.2);
@border-radius-large:       6px;
@modal-backdrop-bg:           #000;
@modal-backdrop-opacity:      .5;
@modal-title-padding:         25px;
@modal-title-line-height:     @line-height-small;
@modal-header-border-color:   #e5e5e5;
//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;
@modal-inner-padding:         25px;
@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;



//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;

//==Tab
@tab-height:    48px;