//color-setting
//Transparent
@transparent:transparent;
//white
@white:#fff;
//gray
@gray-light:#f2f3f4;
@gray-light02:#F5F5F5;
@gray-light03:#F9F9F9;
@gray-light04:#e0e0e0;
@gray:#ddd;
@gray-dark:#ccc;
//black
@black-light:#999;
@black:#666;
@black-dark:#333;

//blue
@blue-light:#2196f3;
@blue:#6583fb;
@blue-dark:#5d79e7;
@blue-lighter:#11A5F5;

//orange
@orange-light:#ffa319;
@orange:#fdb140;
@orange-dark:#e9a23b;

//pink
@pink-light:#E0509F;
@pink:#ED1A95;
@pink-dark:#A81566;

//red
@red-light:#FC5064;
@red:#EA041F;
@red-dark:#960415;

//Green
@green-light:#7DE085;
@green:#5bb85d;
@green-dark:#106017;
//cyan
@cyan:#38cfba;


//color function
@base: #663333;
@lighter1: lighten(spin(@base, 5), 10%);
@lighter2: lighten(spin(@base, 10), 20%);
@darker1: darken(spin(@base, -5), 10%);
@darker2: darken(spin(@base, -10), 20%);

//互补色方案
@complement1: spin(@base, 180);
@complement2: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);


// Scaffolding
// -------------------------
@bodyBackgroundColor:        @transparent;
@backgroundColor:        @white;
@textColor:             @black-dark;
@borderColor:       @gray;
@placeHolderColor:     @textColor;
@primaryColor:     @pink;
@secondaryColor: @blue;
// Links
// -------------------------
@linkColor:             #3498db;
@linkColorHover:        darken(@linkColor, 15%);

//Label
//Default
@labelTextColor_Default:@white;
@labelBgColor_Default_Success:@green;
@labelBorderColor_Default_Success:@green;

@labelBgColor_Default_Info:@orange;
@labelBorderColor_Default_Info:@orange;

@labelBgColor_Default_Finish:@gray-dark;
@labelBorderColor_Default_Finish:@gray-dark;

//Border
@labelBgColor_Border_Success:@white;
@labelTextColor_Border_Success:@green;
@labelBorderColor_Border_Success:@green;

@labelTextColor_Border_Info:@orange;
@labelBorderColor_Border_Info:@orange;

@labelTextColor_Border_Finish:@gray-dark;
@labelBorderColor_Border_Finish:@gray-dark;

//badge
@badge-bg-color:@black;
@badge-color:@white;
@badge-link-hover-color:@white;
@badge-active-color:@primaryColor;
@badge-active-bg-color:@white;
