.tab {
  background: #fff;
  position: relative;
  overflow: hidden;
  height: 140px;
}
.tab-n {
  clear: both;
  height: 40px;
  line-height: 40px ;
}
.tab-n li {
  float: left;
  display: inline;
  cursor: pointer;
  text-align: center;
}
.tab-n li.on {
  background: #F5F5F5;
}
.tab-y {
  position: relative;
  float: left;
  display: inline;
  width: 400px;
  height: 100px;
  overflow: hidden;
}
.tab-m {
  height: 100px;
  overflow: hidden;
  background: #fff;
}
.tab-m ul {
  width: 100%;
}
.tab-banner {
  position: relative;
  height: 360px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.tab-banner-n {
  position: absolute;
  text-align: center;
  color: #666;
  bottom: 10px;
  z-index: 90;
  width: 100%;
}
.tab-banner-n a {
  background: #eee;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.tab-banner-n a:hover,
.tab-banner-n a.on {
  background-color: #ff6600;
}
.tab-banner-m li {
  overflow: hidden;
  height: 360px;
  top: 0;
  left: 0;
  width: 100%;
}
.tab-controls-direction {
  z-index: 98;
}
.tab-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  outline: 0px none;
  width: 32px;
  height: 36px;
  z-index: 9999;
  text-align: center;
  line-height: 26px;
  font-size: 30px;
  background: #000;
  display: inline-block;
  transition: all 0.25s ease 0s;
  filter: alpha(opacity=20);
  opacity: 0.2;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.tab-prev {
  left: -33px;
}
.tab-next {
  right: -33px;
}
.tab-prev:hover,
.tab-next:hover {
  filter: alpha(opacity=100);
  opacity: 0.6;
}
.tab-banner:hover .tab-prev {
  left: 20px;
}
.tab-banner:hover .tab-next {
  right: 20px;
}
.tab-banner:hover .tab-controls-direction i {
  color: #ffffff;
}
