.sub-footer .guanzhu-and-download ul li i{
    background:url("../images/sprites.png") -249px -532px transparent;
}
.wrap-inner .product-list li{
    margin-right:34px;
}
.wrap-inner .product-list li i.yicon{
    border:none;
    background:url("../images/sprites.png") -368px -519px transparent;
}
.wrap-inner .product-list .huoqi li i.yicon{
    border:none;
    background:url("../images/sprites.png") -465px -519px transparent;
}
.huolibao .product-detail ul.huolibao-feature i, .yinglibao .product-detail ul.huolibao-feature i{
    background: none;
}
.wrap-inner .product-list .dingqi li:hover i.yicon, .wrap-inner .product-list .dingqi li.selected i.yicon{
    background:url("../images/sprites.png") -563px -519px transparent;
}
.wrap-inner .product-list .huoqi li:hover i.yicon, .wrap-inner .product-list .huoqi li.selected i.yicon{
    background:url("../images/sprites.png") -667px -519px transparent;
}


.compatable{
    *width:100%;
    *background-color:#fffce7;
    *border-bottom:1px solid #f8cc7e;
}
.compatable p{
    *width:670px;
    *margin:0px auto;
    *padding:15px 0;
    *color:#edaa32;
    *font-size: 16px;

}
.compatable p span{
    *vertical-align:-6px;
    _vertical-align:6px;
}
.topbar{
    *top:64px;
}
.header{
    *padding-top:80px;
}
.icon-warning{
    *height:32px;
    *width:32px;
    *background: url(../images/warning.png) top left;
    *margin-right:10px;
    *display: inline-block;
}

