








.site-nav-bd .menu .menu-hd a {
    color: #6c6c6c;
    float: left;
    font-size: 12px;
    margin-right: 7px;
}
.site-nav-bd .arrow-icon-wrapper {
    display: block;
    float: left;
    height: 6px;
    line-height: 6px;
    margin-top: 16px;
    overflow: hidden;
    width: 12px;
}
