.tabs {
  background-color: #fff;
  height: 48px;
  position: relative;
  white-space: nowrap;
}
.tabs li.tab {
  background-color: #fff;
  display: block;
  float: left;
  height: 48px;
  letter-spacing: 0.8px;
  line-height: 48px;
  text-align: center;
}
.tabs li.tab a {
  color: #ee6e73;
  display: block;
  height: 100%;
  border: 1px solid #ee6e73;
  transition: color 0.28s ease 0s;
  width: 99%;
}
.tabs li.tab a:hover {
  color: #ee6e73;
}
